---
import { getCollection } from "astro:content";
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
const allPosts = await getCollection("blog");
const pageTitle = "Blog";
---

<BaseLayout pageTitle={pageTitle}>
  <h1 class="text-4xl font-bold mb-8">{pageTitle}</h1>
  <p class="text-muted-foreground mb-10">
    Explore articles. Click on a post to read more.
  </p>

  <ul>
    {
      allPosts.map((post) => (
        <BlogPost
          slug={post.id}
          title={post.data.title}
          pubDate={post.data.pubDate}
        />
      ))
    }
  </ul>
</BaseLayout>
