---
const { frontmatter } = Astro.props;
import BaseLayout from "./BaseLayout.astro";
import { ArrowLeft, CalendarIcon } from "lucide-react";
import { Button } from "@/components/ui/button";
import { formatDate } from "@/lib/utils";
---

<BaseLayout>
  <main class="flex-1">
    <article class="container mx-auto max-w-[960px]">
      <div class="max-w-3xl mx-auto mb-10">
        <div class="mb-8">
          <Button
            variant="ghost"
            size="sm"
            className="pl-0 hover:pl-1 transition-all duration-200"
          >
            <a
              href="/blog"
              class="flex items-center text-muted-foreground hover:text-foreground"
            >
              <ArrowLeft className="h-4 w-4 mr-2" />
              Back to blog
            </a>
          </Button>
        </div>

        <header class="mb-8">
          <div class="flex items-center text-sm text-muted-foreground mb-3">
            <span class="mr-2">By {frontmatter.author}</span>
            <span class="mx-2">•</span>
            <CalendarIcon className="h-4 w-4 mr-1" />
            <time>{formatDate(frontmatter.pubDate)}</time>
          </div>

          <h1 class="text-3xl md:text-4xl font-bold mb-4">
            {frontmatter.title}
          </h1>

          <p class="text-lg text-muted-foreground">{frontmatter.description}</p>
        </header>

        <div
          class="relative w-full h-[300px] md:h-[400px] mb-10 overflow-hidden"
        >
          <img
            src={frontmatter.image.url}
            alt={frontmatter.image.alt}
            class="rounded-lg object-cover"
          />
        </div>

        <slot />
      </div>
    </article>
  </main>
</BaseLayout>
